<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Team Builder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
         {% if session['username'] %}
         <a class="nav-link" href="/logout">Logout</a>
        </li>
        {% else %}
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
           {% endif %}
          </ul>
         
        </div>
      </nav>
      <div class="container" style="margin-top: 2em">
        {% for msg in get_flashed_messages() %}
        <div class="alert alert-danger">{{ msg }}</div>
        {% endfor %}

        {% block content %}
        
        <div class="alert alert-success" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          
          <h4><i>Word Searched:</i></h4>
          <h3>{{word}}</h3>
          <!-- <audio controls>
            <source src="{{audio}}" type="audio/wav">
          </audio> -->
          <hr>
          
          <h4><i>Word Translated:</i></h4>
          <h3>{{translation}}</h3>
          <hr>
          <a href="/" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Home</a>
          
      </div>
            

        {% endblock %}
    </div>
    
</body>
</html>